.total-bnb-wrapper {
  padding: 32px 100px;
  @media (max-width: 1024px) {
    padding: 32px 40px;
  }
  @media (max-width: 665px) {
    padding: 32px 20px;
  }
  @media (max-width: 400px) {
    padding: 32px 10px;
  }
  .total-bnb-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;

    .total-bnb-content {
      text-align: center;
      p {
        font-size: 16px;
        color: #f5f5f5;
        text-transform: uppercase;
        @media (max-width: 665px) {
          font-size: 14px;
        }
        @media (max-width: 485px) {
          font-size: 12px;
        }
      }
      h1 {
        margin: 4px 0;

        span {
          font-size: 48px;
          background: linear-gradient(98.86deg, #fea823 -0.11%, #eb7f00 99.89%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          @media (max-width: 1024px) {
            font-size: 36px;
          }
          @media (max-width: 665px) {
            font-size: 28px;
          }
          @media (max-width: 485px) {
            font-size: 22px;
          }
        }
      }
      h6 {
        font-size: 24px;
        font-weight: 100;
        @media (max-width: 665px) {
          font-size: 18px;
        }
        @media (max-width: 485px) {
          font-size: 16px;
        }
      }
    }
  }
}
