.deposit-container {
  background: rgba(17, 17, 17, 0.48);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 32px;
  text-align: left;
  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
