.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 124px 32px 64px;
  gap: 180px;
  @media (max-width: 1024px) {
    gap: 0px;
    padding: 42px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    h1 {
      font-weight: 700;
      font-size: 64px;
      line-height: 77px;
      letter-spacing: -0.06em;
      color: #fff;
      span {
        background: linear-gradient(98.86deg, #fea823 -0.11%, #eb7f00 99.89%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
      @media (max-width: 720px) {
        font-size: 52px;
      }
      @media (max-width: 720px) {
        font-size: 48px;
      }
    }
    .robot-img-content-media {
      position: relative;
      animation: logo 5s linear infinite;

      @keyframes logo {
        0%,
        100% {
          transform: translateY(0);
        }

        50% {
          transform: translateY(42px);
        }
      }
    }

    p {
      // padding: 10px 90px 20px 0;
      margin-bottom: 32px;
      color: #f5f5f5;
      font-size: 20px;
      line-height: 28px;
      font-family: var(--font-light);
      @media (max-width: 1024px) {
        padding: 10px 0;
      }
      @media (max-width: 720px) {
        font-size: 18px;
      }
    }
    .deposit-btn {
      button {
        padding: 18px 40px;
        font-size: 20px;
        @media (max-width: 720px) {
          padding: 12px 22px;
          font-size: 16px;
        }
      }
    }
  }
  .robot-img-content {
    position: relative;
    animation: logo 5s linear infinite;
    z-index: 1;
    @media (max-width: 576px) {
      display: none;
    }

    @keyframes logo {
      0%,
      100% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(42px);
      }
    }

    .hero-robot-img {
      @media (max-width: 820px) {
        img {
          width: 300px;
        }
      }
      // @media (max-width: 590px) {
      //   display: none;
      // }
    }
    .coin-rotation {
      // @media (max-width: 590px) {
      //   display: none;
      // }
      .coin-one {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 5%;
        animation: coinOne 10s linear infinite;

        @keyframes coinOne {
          0% {
            transform: rotateZ(0deg);
          }
          100% {
            transform: rotateZ(360deg);
          }
        }
      }
      .coin-two {
        height: 150px;
        width: 250px;
        border-radius: 50%;
        position: absolute;
        top: 10%;
        left: 5%;
        animation: coinTwo 15s linear infinite;

        @keyframes coinTwo {
          0% {
            transform: rotateZ(0deg);
          }
          100% {
            transform: rotateZ(-360deg);
          }
        }
      }
      .usdt-icon {
        img {
          border-radius: 50%;
          width: 80px;
          height: 80px;
        }
      }
      .coin-three {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 5%;
        animation: coinThree 14s linear infinite;
        @keyframes coinThree {
          0% {
            transform: rotateZ(0deg);
          }
          100% {
            transform: rotateZ(360deg);
          }
        }
      }
      .coin-four {
        height: 200px;
        width: 250px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 5%;
        animation: coinFour 8s linear infinite;
        @keyframes coinFour {
          0% {
            transform: rotateZ(0deg);
          }
          100% {
            transform: rotateZ(-360deg);
          }
        }
      }
    }
  }
}
