.deposit-and-plan-container {
  padding: 32px;
  gap: 32px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 32px;
    justify-content: center;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      place-items: center;
    }
  }
}
