*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy-Medium';
}
html {
  scroll-behavior: smooth;
}

body {
  background: #0a0a0a;
  color: #f5f5f5;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./assets/fonts//Gilroy-Bold.ttf');
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url('./assets/fonts/Gilroy-Medium.ttf');
}
@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('./assets/fonts/Gilroy-SemiBold.ttf');
}
@font-face {
  font-family: 'Gilroy-Light';
  src: url('./assets/fonts/Gilroy-Light.ttf');
}

:root {
  --white-color: #fff;
  --secondary-color: #aaaaaa;
  --text-primary-color: #fea823;
  --font-bold: 'Gilroy-Bold';
  --font-medium: 'Gilroy-Medium';
  --font-semiBold: 'Gilroy-SemiBold';
  --font-light: 'Gilroy-Light';
}

.mx {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

span {
  background: linear-gradient(98.86deg, #fea823 -0.11%, #eb7f00 99.89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-img-move {
  background-image: url('./assets/images/bg-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  animation: moving 60s linear infinite;
  background-position: -120% 0px;
  background-repeat: repeat-x;
}
@keyframes moving {
  from {
    background-position: 120% 0px;
  }
  to {
    background-position: -20% 0px;
  }
}
/* aside {
  color: #999999;
  font-size: 18px;
  font-weight: 100;
} */
