*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy-Medium';
}
html {
  scroll-behavior: smooth;
}

body {
  background: #0a0a0a;
  color: #f5f5f5;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./assets/fonts//Gilroy-Bold.ttf');
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url('./assets/fonts/Gilroy-Medium.ttf');
}
@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('./assets/fonts/Gilroy-SemiBold.ttf');
}
@font-face {
  font-family: 'Gilroy-Light';
  src: url('./assets/fonts/Gilroy-Light.ttf');
}

:root {
  --white-color: #fff;
  --secondary-color: #aaaaaa;
  --primary: #fea823;
  --text-primary-color: #fea823;
  --w3m-accent-color: #fea823 !important;
  --font-bold: 'Gilroy-Bold';
  --font-medium: 'Gilroy-Medium';
  --font-semiBold: 'Gilroy-SemiBold';
  --font-light: 'Gilroy-Light';
}

.mx {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.bg-img-move {
  background-image: url('./assets/images/bg-img-bnb.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  animation: moving 60s linear infinite;
  background-position: -120% 0px;
  background-repeat: repeat-x;
}
@keyframes moving {
  from {
    background-position: 120% 0px;
  }
  to {
    background-position: -20% 0px;
  }
}
.hero-bg-video {
  position: relative;
  height: 100vh;
}
.hero-bg-video video {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}

.hero-bg-content {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.second-bg-video {
  position: relative;
  height: auto;
}

.bg-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: auto;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.second-bg-video video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 600px) {
  .hero-bg-video {
    height: 110vh;
  }
}
