.stake-plans-wrapper {
  padding: 32px 92px;
  background: rgba(0, 0, 0, 0.2);
  @media (max-width: 1024px) {
    padding: 32px;
  }
  @media (max-width: 415px) {
    padding: 32px 15px;
  }

  .stake-plans-container {
    text-align: center;
    h2 {
      font-size: 40px;
      @media (max-width: 415px) {
        font-size: 36px;
      }
    }

    p {
      font-size: 20px;
      margin-top: 16px;
      color: var(--secondary-color);
      font-family: var(--font-light);
      line-height: 28px;
      @media (max-width: 415px) {
        font-size: 16px;
      }
    }
  }
  .stake-plans-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 32px 0;
    border-top: 1px solid rgba(119, 119, 119, 0.3);
    @media (max-width: 720px) {
      grid-template-columns: repeat(2, 1fr);
    }
    .stake-plans-items {
      text-align: center;
      border-right: 1px solid rgba(119, 119, 119, 0.3);
      margin-top: 32px;
      &:nth-child(4) {
        border-right: none;
      }
      @media (max-width: 955px) {
        &:nth-child(2) {
          border-right: none;
        }
      }
      h2 {
        margin-top: 32px;
        font-size: 28px;
        @media (max-width: 955px) {
          font-size: 22px;
        }
      }

      h6 {
        font-size: 24px;
        margin-top: 16px;
        font-weight: 100;
        @media (max-width: 955px) {
          font-size: 18px;
        }
      }
      button {
        margin-top: 16px;
        font-size: 16px;
        @media (max-width: 955px) {
          padding: 8px 16px;
        }
      }
      p {
        font-size: 16px;
        margin: 28px 0;
        color: #f5f5f5;
      }
      .border {
        border-bottom: 1px solid rgba(119, 119, 119, 0.3);
        width: 24px;
        margin: 0 auto;
      }
    }
  }
}
